In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Reading all files and storing it into a single variable - business
business = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/business/business_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  business[text] = "business"

In [ ]:
#Reading all files and storing it into a single variable - entertainment
entertainment = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/entertainment/entertainment_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  entertainment[text] = "entertainment"

In [ ]:
#Reading all files and storing it into a single variable - food
food = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/food/food_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  food[text] = "food"

In [ ]:
#Reading all files and storing it into a single variable - graphics
graphics = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/graphics/graphics_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  graphics[text] = "graphics"

In [ ]:
#Reading all files and storing it into a single variable - historical
historical = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/historical/historical_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  historical[text] = "historical"

In [ ]:
#Reading all files and storing it into a single variable - space
space = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/space/space_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  space[text] = "space"

In [ ]:
#Reading all files and storing it into a single variable - sport
sport = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/sport/sport_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  sport[text] = "sport"

In [ ]:
#Reading all files and storing it into a single variable - technologie
technologie = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/technologie/technologie_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  technologie[text] = "technologie"

In [ ]:
#Reading all files and storing it into a single variable - medical
medical = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/medical/medical_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  medical[text] = "medical"

In [ ]:
#Reading all files and storing it into a single variable - politics
politics = {}
for i in range(100):
  path = "/content/drive/My Drive/DL_project/politics/politics_"+str(i+1)+".txt"
  f = open(path, encoding="utf8", errors='ignore')
  text = f.read()
  politics[text] = "politics"

In [ ]:
final = {**business,**entertainment,**food,**graphics,**historical,**medical,**politics,**space,**sport,**technologie}

In [ ]:
textdocs = pd.DataFrame(final.items(), columns=['text', 'category'])

In [ ]:
list(medical.keys())[0]

'I have a 42 yr old male friend, misdiagnosed as having\n osteopporosis for two years, who recently found out that his\n illness is the rare Gaucher\'s disease. \nGaucher\'s disease symptoms include: brittle bones (he lost 9 \n inches off his hieght); enlarged liver and spleen; internal\n bleeding; and fatigue (all the time). The problem (in Type 1) is\n attributed to a genetic mutation where there is a lack of the\n enzyme glucocerebroside in macrophages so the cells swell up.\n This will eventually cause death.\nEnyzme replacement therapy has been successfully developed and\n approved by the FDA in the last few years so that those patients\n administered with this drug (called Ceredase) report a remarkable\n improvement in their condition. Ceredase, which is manufactured\n by biotech biggy company--Genzyme--costs the patient $380,000\n per year. Gaucher\'s disease has justifyably been called "the most\n expensive disease in the world".\nI have researched Gaucher\'s disease at the library but am relying\n on netlanders to provide me with any additional information:\n**news, stories, reports\n**people you know with this disease\n**ideas, articles about Genzyme Corp, how to get a hold of\n   enough money to buy some, programs available to help with\n   costs.\n**Basically ANY HELP YOU CAN OFFER\nThanks so very much!\nDeborah \n'

In [ ]:
import re
def removechar(text1):
  string = re.sub('[^a-zA-Z.\d\s]', '', text1)
  return(string)

In [ ]:
textdocs.head()

                                                text  category
0  Lufthansa flies back to profit\n\nGerman airli...  business
1  Japanese growth grinds to a halt\n\nGrowth in ...  business
2  WorldCom director admits lying\n\nThe former c...  business
3  Glaxo aims high after profit fall\n\nGlaxoSmit...  business
4  Peugeot deal boosts Mitsubishi\n\nStruggling J...  business

In [ ]:
textdocs['cleantext'] = textdocs['text'].map(lambda x : x.lower())

In [ ]:
textdocs['cleantext'] = textdocs['cleantext'].map(lambda x : removechar(x))

In [ ]:
textdocs['cleantext'] = textdocs['cleantext'].map(lambda x : x.replace("\n\n","\n"))

In [ ]:
textdocs['cleantext'] = textdocs['cleantext'].map(lambda x : x.replace("\n",". "))

In [ ]:
textdocs['cleantext'] = textdocs['cleantext'].map(lambda x : x.replace("..","."))

In [ ]:
textdocs.head()

,text,category,cleantext
0,Lufthansa flies back to profit\n\nGerman airli...,business,lufthansa flies back to profit. german airline...
1,Japanese growth grinds to a halt\n\nGrowth in ...,business,japanese growth grinds to a halt. growth in ja...
2,WorldCom director admits lying\n\nThe former c...,business,worldcom director admits lying. the former chi...
3,Glaxo aims high after profit fall\n\nGlaxoSmit...,business,glaxo aims high after profit fall. glaxosmithk...
4,Peugeot deal boosts Mitsubishi\n\nStruggling J...,business,peugeot deal boosts mitsubishi. struggling jap...

In [ ]:
list1 = ["business","entertainment","food","graphics","historical","medical","politics","space","sport","technologie"]

In [ ]:
diction = {}
for i in range(len(list1)):
  diction[list1[i]] = i

In [ ]:
diction

{'business': 0,
 'entertainment': 1,
 'food': 2,
 'graphics': 3,
 'historical': 4,
 'medical': 5,
 'politics': 6,
 'space': 7,
 'sport': 8,
 'technologie': 9}

In [ ]:
textdocs['label'] = textdocs['category'].map(lambda x : diction[x])

In [ ]:
textdocs.head()

,text,category,cleantext,label
0,Lufthansa flies back to profit\n\nGerman airli...,business,lufthansa flies back to profit. german airline...,0
1,Japanese growth grinds to a halt\n\nGrowth in ...,business,japanese growth grinds to a halt. growth in ja...,0
2,WorldCom director admits lying\n\nThe former c...,business,worldcom director admits lying. the former chi...,0
3,Glaxo aims high after profit fall\n\nGlaxoSmit...,business,glaxo aims high after profit fall. glaxosmithk...,0
4,Peugeot deal boosts Mitsubishi\n\nStruggling J...,business,peugeot deal boosts mitsubishi. struggling jap...,0

In [ ]:
import gensim

In [ ]:
#Clean data using the built in cleaner in gensim
textdocs['words'] = textdocs['cleantext'].apply(lambda x: gensim.utils.simple_preprocess(x))

In [ ]:
textdocs.head()

,text,category,cleantext,label,words
0,Lufthansa flies back to profit\n\nGerman airli...,business,lufthansa flies back to profit. german airline...,0,"[lufthansa, flies, back, to, profit, german, a..."
1,Japanese growth grinds to a halt\n\nGrowth in ...,business,japanese growth grinds to a halt. growth in ja...,0,"[japanese, growth, grinds, to, halt, growth, i..."
2,WorldCom director admits lying\n\nThe former c...,business,worldcom director admits lying. the former chi...,0,"[worldcom, director, admits, lying, the, forme..."
3,Glaxo aims high after profit fall\n\nGlaxoSmit...,business,glaxo aims high after profit fall. glaxosmithk...,0,"[glaxo, aims, high, after, profit, fall, glaxo..."
4,Peugeot deal boosts Mitsubishi\n\nStruggling J...,business,peugeot deal boosts mitsubishi. struggling jap...,0,"[peugeot, deal, boosts, mitsubishi, struggling..."

In [ ]:
#Calculating the length of strings of clean words
textdocs['text_length'] = textdocs['words'].map(lambda name:len(name))

In [ ]:
textdocs.head()

,text,category,cleantext,label,words,text_length
0,Lufthansa flies back to profit\n\nGerman airli...,business,lufthansa flies back to profit. german airline...,0,"[lufthansa, flies, back, to, profit, german, a...",129
1,Japanese growth grinds to a halt\n\nGrowth in ...,business,japanese growth grinds to a halt. growth in ja...,0,"[japanese, growth, grinds, to, halt, growth, i...",253
2,WorldCom director admits lying\n\nThe former c...,business,worldcom director admits lying. the former chi...,0,"[worldcom, director, admits, lying, the, forme...",337
3,Glaxo aims high after profit fall\n\nGlaxoSmit...,business,glaxo aims high after profit fall. glaxosmithk...,0,"[glaxo, aims, high, after, profit, fall, glaxo...",190
4,Peugeot deal boosts Mitsubishi\n\nStruggling J...,business,peugeot deal boosts mitsubishi. struggling jap...,0,"[peugeot, deal, boosts, mitsubishi, struggling...",279

In [ ]:
textdocs['text_length'].describe()

count     992.000000
mean      388.556452
std       504.954066
min        19.000000
25%       166.000000
50%       255.000000
75%       416.000000
max      7536.000000
Name: text_length, dtype: float64

In [ ]:
textdocs[textdocs['text_length'] == 7536]

,text,category,cleantext,label,words,text_length
370,Archive-name: graphics/resources-list/part3\nL...,graphics,archivename graphicsresourceslistpart3. lastmo...,3,"[archivename, lastmodified, computer, graphics...",7536

# **BERT**

In [ ]:
# A dependency of the preprocessing for BERT inputs
!pip install -q -U "tensorflow-text==2.8.*"

     || 4.9 MB 5.4 MB/s
     || 497.9 MB 3.2 kB/s
     || 462 kB 31.7 MB/s
     || 1.4 MB 51.7 MB/s
     || 5.8 MB 30.8 MB/s

In [ ]:
!pip install -q tf-models-official==2.7.0

     || 1.8 MB 5.2 MB/s
     || 118 kB 48.0 MB/s
     || 352 kB 46.8 MB/s
     || 1.1 MB 47.0 MB/s
     || 1.3 MB 38.8 MB/s
     || 43 kB 1.5 MB/s
     || 238 kB 49.8 MB/s
  Building wheel for seqeval (setup.py) ... done

In [ ]:
import os
import shutil
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from official.nlp import optimization  # to create AdamW optimizer
import matplotlib.pyplot as plt
tf.get_logger().setLevel('ERROR')

In [ ]:
#BERT preprocessor and BERT encoder
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [ ]:
def get_sequence_output(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['sequence_output']

In [ ]:
def get_pooled_output(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

In [ ]:
textdocs['BERT_sequence_output'] = [x for x in get_sequence_output(textdocs['cleantext'])]

In [ ]:
textdocs['BERT_pooled_output'] = [x for x in get_pooled_output(textdocs['cleantext'])]

In [ ]:
textdocs.head()

,text,category,cleantext,label,words,text_length,BERT_sequence_output,BERT_pooled_output
0,Lufthansa flies back to profit\n\nGerman airli...,business,lufthansa flies back to profit. german airline...,0,"[lufthansa, flies, back, to, profit, german, a...",129,"((tf.Tensor(-0.7144783, shape=(), dtype=float3...","(tf.Tensor(-0.7673952, shape=(), dtype=float32..."
1,Japanese growth grinds to a halt\n\nGrowth in ...,business,japanese growth grinds to a halt. growth in ja...,0,"[japanese, growth, grinds, to, halt, growth, i...",253,"((tf.Tensor(-0.3408628, shape=(), dtype=float3...","(tf.Tensor(-0.88270843, shape=(), dtype=float3..."
2,WorldCom director admits lying\n\nThe former c...,business,worldcom director admits lying. the former chi...,0,"[worldcom, director, admits, lying, the, forme...",337,"((tf.Tensor(-0.71176547, shape=(), dtype=float...","(tf.Tensor(-0.71505743, shape=(), dtype=float3..."
3,Glaxo aims high after profit fall\n\nGlaxoSmit...,business,glaxo aims high after profit fall. glaxosmithk...,0,"[glaxo, aims, high, after, profit, fall, glaxo...",190,"((tf.Tensor(-0.67004496, shape=(), dtype=float...","(tf.Tensor(-0.7661737, shape=(), dtype=float32..."
4,Peugeot deal boosts Mitsubishi\n\nStruggling J...,business,peugeot deal boosts mitsubishi. struggling jap...,0,"[peugeot, deal, boosts, mitsubishi, struggling...",279,"((tf.Tensor(-0.5811551, shape=(), dtype=float3...","(tf.Tensor(-0.86482984, shape=(), dtype=float3..."

In [ ]:
textdocs.to_pickle("/content/drive/My Drive/DL_project/df.pickle")